<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <ion-icon name="home" item-start></ion-icon>
        Menu
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list *ngFor="let menu of menus">
      <ion-list-header>
        {{menu.title}}
        <ion-icon [name]="menu.iconName" color="primary" item-end *ngIf="menu.iconName"></ion-icon>
      </ion-list-header>
      <button menuClose ion-item *ngFor="let page of menu.pages" (click)="openPage(page)">
        <ion-icon [name]="page.iconName" item-start *ngIf="page.iconName"></ion-icon>
        {{page.title}}
      </button>
    </ion-list>
    <ion-list>
      <ion-list-header>Autres</ion-list-header>
      <button menuClose ion-item (click)="openCleophasPage()">
        <ion-icon name="cloud" item-start></ion-icon>
        Cléophas
      </button>
      <button menuClose ion-item (click)="openPreferencesPage()">
        <ion-icon name="options" item-start></ion-icon>
        Paramètres
      </button>
      <button menuClose ion-item (click)="openContactPage()">
        <ion-icon name="contact" item-start></ion-icon>
        Contact
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
